/* admin.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    color: var(--Orange);
    margin: 20px 20px 10px 20px;
}

label {
    font-size: 16px;
    margin: 15px 20px;
    display: block;
    color: #333;
}

select, input[type="text"], button {
    font-size: 16px;
    padding: 8px;
    margin: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 50px);
    box-sizing: border-box;
}

select {
    background-color: #fff;
}

button {
    background-color: var(--Orange);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
}

button:hover {
    background-color: var(--Orange);
}

button:focus, select:focus, input[type="text"]:focus {
    outline: none;
    border-color: var(--Orange);
}

h2 {
    font-size: 20px;
    color: black;
    margin: 20px 20px 10px 20px;
}

.hidden {
    display: none;
}

#faq-action-buttons {
    margin: 20px 0;
}

.question-answer-group {
    margin-bottom: 20px;
}

.question-answer-group label {
    margin-top: 10px;
}

#questions-answers-section button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    width: auto;
}

input[type="text"] {
    background-color: #f0f0f0;
    padding: 10px;
}

.submit-section {
    text-align: center;
    margin-top: 30px;
}

.submit-section button {
    background-color: var(--Orange);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-section button:hover {
    background-color: var(--Orange);
}

.submit-section button:active {
    background-color: black;
    transform: scale(0.98);
}

.styled-table {
    width: 95%;
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
}

.styled-table thead tr {
    background-color: var(--Orange);
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 20px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: var(--Orange);
}

.update-button, .delete-button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.update-button {
    background-color: #4CAF50; /* 绿色 */
    color: white;
}

.update-button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #f44336; /* 红色 */
    color: white;
}

.delete-button:hover {
    background-color: #da190b;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
}

#answer-input {
    width: 720px;
    height: 145px;
    margin: 0 auto;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




